<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>557889123690-kha48vr8v8sbuum17n744g5no8nk419n.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.557889123690-kha48vr8v8sbuum17n744g5no8nk419n</string>
	<key>API_KEY</key>
	<string>AIzaSyDTz9U0rycbynA2aNgRWikdDXtRpEVnPM4</string>
	<key>GCM_SENDER_ID</key>
	<string>557889123690</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.pickthisorthat.TotApp</string>
	<key>PROJECT_ID</key>
	<string>this-or-that-dev-42eb0</string>
	<key>STORAGE_BUCKET</key>
	<string>this-or-that-dev-42eb0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:557889123690:ios:f6ae4313b72c95fbf7e113</string>
</dict>
</plist>