<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>885841850942-no16r8enuf8j4aj4qugg57vrnfe9nsav.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.885841850942-no16r8enuf8j4aj4qugg57vrnfe9nsav</string>
	<key>API_KEY</key>
	<string>AIzaSyCvBYEadpqnI1OlTJmUp6hrbQO8qpUzRD8</string>
	<key>GCM_SENDER_ID</key>
	<string>885841850942</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.pickthisorthat.TotApp</string>
	<key>PROJECT_ID</key>
	<string>this-or-that-staging</string>
	<key>STORAGE_BUCKET</key>
	<string>this-or-that-staging.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:885841850942:ios:f95294521742e33fbe576f</string>
</dict>
</plist>